<header>
	<span class="header-text">
	Controls
	</span>
</header>
<div id="controls-body" class="centered-view">
<div id="vent-roof-button" class="button" ng-class="ctrl.roofButtonClass()" ng-click="ctrl.toggleRoof()" ng-if="ctrl.showSunroofButton()">{{ctrl.roofButtonText()}}</div>
<tesla-car class=”ng-cloak” car-color="ctrl.currentVehicleColor()" vehicle-id="ctrl.vehicleID()" roof-type="ctrl.currentRoofType()" wheel-type="ctrl.currentVehicleRims()" charge-door-open="ctrl.isChargeDoorOpen()" plugged-in="ctrl.isPluggedIn()" ng-if="ctrl.showVehicle()">
</tesla-car>
<div id="controlslock" class="padlock" ng-class="ctrl.padlockClass()"></div>
<div id="button-container" ng-if="ctrl.showVehicle()">
	<div id="lock-button" class="button" ng-class="ctrl.lockButtonClass()" ng-click="ctrl.lockCar()">LOCK</div>
	<div id="unlock-button" class="button" ng-class="ctrl.unlockButtonClass()" ng-click="ctrl.unlockCar()">UNLOCK</div>
	<div id="honk-horn-button" class="button" ng-class="ctrl.hornButtonClass()" ng-click="ctrl.honkHorn()">HONK HORN</div>
	<div id="flash-lights-button" class="button" ng-class="ctrl.lightsButtonClass()" ng-click="ctrl.flashLights()">FLASH LIGHTS</div>
</div>
</div>